.header-container {
    background-color: var(--clr-elements);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 1rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.toggle-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

.toggle-button > img {
    width: 1rem;
}

.toggle-button > span {
    font-weight: 600;
}
